# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# Secrets
.env
*.key

# OS
.DS_Store
starter-app/.venv/
starter-app2/.venv/
starter-app2/__pycache__/
starter-app2/.pytest_cache/
starter-app2/.DS_Store
